@model string

@{
    Language lang = Locale.Language;
    var langs = Locale.Languages;
    ViewBag.Title = lang.AuthPageTitle;
    Layout = "_Layout";
}

<body>
<h2>@lang.AuthPageLabel</h2>
@* <h4>Logged as @Model</h4> *@

<form method="post">
    <input type="text" name="login" placeholder="@lang.AuthPageUsernamePlaceholder"/><br/>
    <input type="password" name="passwd" placeholder="@lang.AuthPagePasswordPlaceholder"/><br/>

    <label for="language">@lang.AuthPageLanguageSelectLabel:</label>
    <select name="langName" id="language">
        @foreach (var l in langs)
        {
            <option value="@l.LangName">@l.LangName</option>
        }
    </select><br/>
    <input type="submit" value="@lang.AuthPageLoginButton"/>
</form>
</body>