@{
    Language lang = Locale.Language;
    ViewBag.Title = lang.EditParameterTitle;
    List<ParameterType> types = ViewBag.types;
    ControlParameter parameter = ViewBag.parameter;
}

<!DOCTYPE html>

<html>
<body>
<div>
    <h4>@lang.EditParameterLabel</h4>
    <form method="post">
        <label for="name">@lang.EditParameterName:</label><input type="text" name="name" id="name" value="@parameter.name"/><br/>
        <label for="min">@lang.EditParameterMinValue:</label><input type="number" name="min" id="min" value="@parameter.minValue"/><br/>
        <label for="max">@lang.EditParameterMaxValue:</label><input type="number" name="max" id="max" value="@parameter.maxValue"/><br/>
        <label for="opcMin">@lang.EditParameterMinValueOpcTopic:</label><input type="text" name="opcMin" id="opcMin" value="@parameter.opcName.minValueName"/><br/>
        <label for="opcMax">@lang.EditParameterMaxValueOpcTopic</label><input type="text" name="opcMax" id="opcMax" value="@parameter.opcName.maxValueName"/><br/>
        <label for="opcCurr">@lang.EditParameterCurrValueOpcTopic:</label><input type="text" name="opcCurr" id="opcCurr" value="@parameter.opcName.currentValueName"/><br/>
        <label for="type">@lang.EditParameterType:</label>
        <select name="typeId" id="type">
            @foreach (var type in types)
            {
                <option value="@type.id">@type.name</option>
            }
        </select><br/>
        <input type="hidden" name="id" value="@parameter.id">
        <input type="submit" name="action" value="@lang.EditParameterSaveButton"/>
        @* <input type="submit" name="action" value="@lang.EditParameterDeleteButton"/> *@
    </form>
</div>
</body>
</html>