@{
    ViewBag.Title = "Add Sensor";
    Layout = "_Layout";
    List<Plc> plcs = ViewBag.plcs;
    List<ControlParameter> parameters = ViewBag.parameters;
}

<!DOCTYPE html>

<html>
<body>
<div>
    <h4>Add sensor</h4>
    <form method="post">
         <label for="name">Name:</label><input type="text" name="name" id="name"/><br/>
        <label for="model">Model:</label><input type="text" name="model" id="model"/><br/>

        <label for="plcId">Plc:</label>
        <select type="text" name="plcId" id="plcId">
            @foreach (var plc in plcs)
            {
                <option value="@plc.id">@plc.model (Tank @plc.tank.name)</option>
            }
        </select><br/>
        <label for="paramId">Control Parameter:</label>
        <select type="text" name="paramId" id="paramId">
            @foreach (var param in parameters)
            {
                <option value="@param.id">@param.name (@param.type.name)</option>
            }
        </select><br/>

        <input type="submit" value="Add"/>
    </form>
</div>
</body>
</html>