@model User

@{
    Language lang = Locale.Language;
    ViewBag.Title = lang.EditUserTitle;
    Layout = "_Layout";
}

<html>
<body>
<form method="post">
    <label for="name">@lang.EditUserName:</label><input type="text" id="name" name="name" value="@Model.name"/><br/>
    <label for="login">@lang.EditUserLogin:</label><input type="text" id="login" name="login" value="@Model.login"/><br/>
    <label for="password">@lang.EditUserNewPassword:</label><input type="password" id="password" name="passwd" value="@Model.passwd"/><br/>
    <input type="hidden" name="id" value="@Model.id">
    <input type="submit" name="action" value="@lang.EditUserSaveButton"/>
    <input type="submit" name="action" value="@lang.EditUserDeleteButton"/>
</form>

</body>
</html>