@model List<opcUaWebMVC.Models.User>

@{
    Language lang = Locale.Language;
    ViewBag.Title = lang.UserListTitle;
    Layout = "_Layout";
    string getRole(bool isAdmin) => isAdmin ? lang.UserListUserTypeAdmin : lang.UserListUserTypeOperator;
}

<html>
<body>
<h4>@lang.UserListLabel</h4>
<ul>
    @foreach (var user in Model)
    {
        <li>
            <a asp-area="" asp-controller="User" asp-action="EditUser" asp-route-id="@user.id">@user.name (@getRole(user.isAdmin))</a>
        </li>
    }
</ul>
<a asp-area="" asp-controller="User" asp-action="AddUserPage">@lang.UserListAddButton</a>
</body>
</html>