@{
    Language lang = Locale.Language;
    ViewBag.Title = lang.EditTankTitle;
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<body>
<div>
    <h4>@lang.EditTankLabel</h4>
    <form method="post">
        <label for="name">@lang.EditTankName:</label><input type="text" name="name" value="@Model.name" id="name"/><br/>
        <input type="hidden" name="id" value="@Model.id">
        <input type="submit" name="action" value="@lang.EditTankSaveButton"/>
        <input type="submit" name="action" value="@lang.EditTankDeleteButton"/>
    </form>
</div>
</body>
</html>