@model List<Tank>

@{
    Language lang = Locale.Language;
    ViewBag.Title = lang.TankListTitle;
    Layout = "_Layout";
}
<html>
<body>
<div>
    <h4>@lang.TankListLabel</h4>
    @if (Model.Count > 0)
    {
        <ul>
            @foreach (var tank in Model)
            {
                <li>
                    <a asp-area="" asp-controller="Tank" asp-action="EditTank" asp-route-id="@tank.id">@tank.name</a>
                </li>
            }
        </ul>
    }
    else
    {
        <h3>@lang.TankListNoLabel</h3>
    }
    <a asp-area="" asp-controller="Tank" asp-action="AddTankPage">@lang.TankListAddButton</a>
</div>
</body>
</html>