@model Plc

@{
    ViewBag.Title = "Edit PLC";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<body>
<h4>Edit PLC</h4>
<form method="post">
    <input type="text" name="name" placeholder="PLC name" value="@Model.name"/><br/>
    <input type="text" name="location" placeholder="PLC location" value="@Model.location"/><br/>
    <input type="text" name="ip" placeholder="PLC IP address" value="@Model.ip"/><br/>
    <input type="text" name="port" placeholder="PLC port" value="@Model.port"/><br/>
    <input type="hidden" name="id" value="@Model.id">
    <input type="submit" value="Save"/>
</form>
</body>
</html>