@{
    ViewBag.Title = "Edit PLC";
    Layout = "_Layout";
    var locations = ViewBag.locations;
    var plc = ViewBag.plc;
    // string isChecked(int locId) => plc.locationId == locId ? "selected" : "";
}

<!DOCTYPE html>

<html>
<body>
<h4>Edit PLC</h4>
<form method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" placeholder="PLC name" value="@plc.name" /><br/>

    <label for="locationId">Location:</label>
    <select name="locationId" id="locationId">
        @foreach (var location in locations)
        {
            <option value="@location.id">@location.name</option>
        }
    </select><br/>

    <label for="ip">IP:</label><input type="text" name="ip" id="ip" placeholder="PLC IP address" value="@plc.ip"/><br/>
    <label for="port">Port:</label><input type="text" name="port" id="port" placeholder="PLC port" value="@plc.port"/><br/>
    <input type="hidden" name="id" value="@plc.id">
    <input type="submit" name="action" value="Save"/>
    <input type="submit" name="action" value="Delete"/>
</form>
</body>
</html>