@model List<opcUaWebMVC.Models.Database.Plc>

@{
    Language lang = Locale.Language;
    ViewBag.Title = lang.PlcListTitle;
    Layout = "_Layout";
}
<html>
<body>
<div>
    <h4>@lang.PlcListLabel</h4>
    @if (Model?.Count > 0)
    {
        <ul>
            @foreach (var plc in Model)
            {
                <li>
                    <a asp-area="" asp-controller="Plc" asp-action="EditPlc" asp-route-id="@plc.id">@plc.model - @plc.tank.name (@plc.ip:@plc.port)</a>
                    <ul>
                        @foreach (Sensor sensor in plc.sensors)
                        {
                            <il>@sensor.name (@sensor.model)<br></il>
                        }
                    </ul>
                </li>
            }
        </ul>
    }
    else
    {
        <h3>@lang.PlcListNoPlcLabel</h3>
    }
    <a asp-area="" asp-controller="Plc" asp-action="AddPlcPage">@lang.PlcListAddButton</a>
</div>
</body>
</html>